i,
b {
  font-style: normal;
  font-weight: 400;
}
body,
html {
  padding: 0;
  margin: 0;
}
body {
  background: white;
}
body,
td,
input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #222;
}
button {
  cursor: pointer;
}
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.nprogress-logo {
  display: inline-block;
  width: 100px;
  height: 20px;
  border: solid 4px #29d;
  border-radius: 10px;
  position: relative;
}
.nprogress-logo:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 40%;
  background: #29d;
  border-radius: 3px;
}
.fade {
  transition: all 300ms linear 700ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.fade.out {
  opacity: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.button {
  display: inline-block;
  text-decoration: none;
  background: #eee;
  color: #777;
  border-radius: 2px;
  padding: 8px 10px;
  font-weight: 700;
  text-align: left;
}
.button.play:before {
  content: '\25b6';
}
.button:hover {
  background: #29d;
  color: #fff;
}
.button.primary {
  background: #29d;
  color: #fff;
}
.button.primary:hover {
  background: #1c8;
}
.button:active {
  background: #29d;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}
.controls {
  text-align: left;
  margin: 0 auto;
  max-width: 350px;
  color: #666;
  position: absolute;
  top: 0;
  right: 50%;
  border-right: grey dotted 1px;
  padding-right: 3%;
  font-size: 0.9em;
}
.controls .button {
  width: 40px;
  margin-right: 10px;
  text-align: center;
}
.controls p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.controls i {
  color: #999;
}
.controls b {
  color: #29d;
  font-weight: 700;
}
.tips {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  max-width: 436px;
}
.tips p {
  font-size: 200%;
  position: absolute;
  top: 33%;
  left: 0px;
  margin: 0;
  padding: 0;
  transform: rotate(-90deg);
}
.tips h3 {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 26px;
}
.tips ul {
  margin-left: -12px;
  margin-top: 0;
}
@media (min-width: 950px) {
  .tips {
    width: 35%;
  }
}
.page-header {
  width: 100%;
}
.page-header div.hcenter {
  text-align: center;
  max-width: 400px;
  padding: 3em 20px;
  margin: 0 auto;
}
.page-header h1 {
  font-size: 2.0em;
  text-align: center;
  font-weight: 200;
  line-height: 1.3;
  color: #333;
  margin: 0;
}
hr {
  height: 1px;
  border: 0;
  margin-bottom: 1em;
  background: grey;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(39, 79, 23, 0.48) 13%, #134409 27%, #063d00 36%, #a1a412 75%, rgba(217, 201, 24, 0.44) 89%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(13%, rgba(39, 79, 23, 0.48)), color-stop(27%, #134409), color-stop(36%, #063d00), color-stop(75%, #a1a412), color-stop(89%, rgba(217, 201, 24, 0.44)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(39, 79, 23, 0.48) 13%, #134409 27%, #063d00 36%, #a1a412 75%, rgba(217, 201, 24, 0.44) 89%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(39, 79, 23, 0.48) 13%, #134409 27%, #063d00 36%, #a1a412 75%, rgba(217, 201, 24, 0.44) 89%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(39, 79, 23, 0.48) 13%, #134409 27%, #063d00 36%, #a1a412 75%, rgba(217, 201, 24, 0.44) 89%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(39, 79, 23, 0.48) 13%, #134409 27%, #063d00 36%, #a1a412 75%, rgba(217, 201, 24, 0.44) 89%, rgba(255, 255, 255, 0) 100%);
}
p.brief {
  line-height: 1.4;
  font-style: italic;
  color: #888;
}
p.brief.big {
  font-size: 1.1em;
}
@media (min-width: 480px) {
  .page-header h1 {
    margin-top: 1em;
    margin-bottom: 0.4em;
  }
}
.page-header h1 i {
  color: #aaa;
  font-style: normal;
  font-weight: 200;
}
@media (min-width: 480px) {
  .page-header h1 {
    font-size: 3em;
  }
  .page-header div.hcenter {
    padding: 4.5em 20px 3.5em 20px;
  }
}
.actions {
  text-align: center;
  margin: 297px 0 2em 0;
}
@media (min-width: 620px) {
  .actions {
    margin: 258px 0 0.5em 0;
  }
}
@media (min-width: 950px) {
  .actions {
    margin: 218px 0 0.5em 0;
  }
}
.big.button {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.1em;
}
div.hr-rule {
  height: 1px;
  width: 100px;
  margin: 20px auto;
  background: #ddd;
}
.share-buttons {
  margin: 0 auto;
  text-align: center;
}
#nprogress blockquote {
  font-size: 80%;
  width: 32em;
  border: 2px #29d dotted;
  padding: 10px;
  border-radius: 6px;
  margin: 1em 0 1em auto;
}
.nprogress-signaled #nprogress {
  pointer-events: none;
  position: absolute;
  z-index: 2014;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}
.nprogress-signaled #nprogress .bar {
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  transition: background 2s ease;
}
.nprogress-signaled #nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  top: -3px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px red, 0 0 5px red;
  opacity: 1.0;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  transition: box-shadow 2s ease;
}
.nprogress-signaled #nprogress .msg {
  display: block;
  position: absolute;
  top: 9px;
  right: 42px;
  font-size: 18px;
  color: red;
  padding: 0px 6px 0px 6px;
  text-shadow: 0px 0px 8px red;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  transition: color 2s ease;
  transition: text-shadow 2s ease;
}
.nprogress-signaled #nprogress .msgBG {
  background-color: white;
  opacity: 0.5;
}
.nprogress-signaled #nprogress .msgRF {
  right: 4px;
}
.nprogress-signaled #nprogress .spinner {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
}
.nprogress-signaled #nprogress .spinner .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: red;
  border-left-color: red;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
  transition: border-color 2s ease;
}
.demo-style-change #nprogress {
  pointer-events: none;
  position: absolute;
  z-index: 2014;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}
.demo-style-change #nprogress .bar {
  background: green;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  transition: background 2s ease;
}
.demo-style-change #nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  top: -3px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px green, 0 0 5px green;
  opacity: 1.0;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  transition: box-shadow 2s ease;
}
.demo-style-change #nprogress .msg {
  display: block;
  position: absolute;
  top: 9px;
  right: 42px;
  font-size: 18px;
  color: green;
  padding: 0px 6px 0px 6px;
  text-shadow: 0px 0px 8px green;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  transition: color 2s ease;
  transition: text-shadow 2s ease;
}
.demo-style-change #nprogress .msgBG {
  background-color: white;
  opacity: 0.5;
}
.demo-style-change #nprogress .msgRF {
  right: 4px;
}
.demo-style-change #nprogress .spinner {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
}
.demo-style-change #nprogress .spinner .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: green;
  border-left-color: green;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
  transition: border-color 2s ease;
}
.erroneous-run #nprogress {
  pointer-events: none;
  position: absolute;
  z-index: 2014;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}
.erroneous-run #nprogress .bar {
  background: #C04;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  transition: background 2s ease;
}
.erroneous-run #nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  top: -3px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #C04, 0 0 5px #C04;
  opacity: 1.0;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  transition: box-shadow 2s ease;
}
.erroneous-run #nprogress .msg {
  display: block;
  position: absolute;
  top: 9px;
  right: 42px;
  font-size: 18px;
  color: #C04;
  padding: 0px 6px 0px 6px;
  text-shadow: 0px 0px 8px #C04;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  transition: color 2s ease;
  transition: text-shadow 2s ease;
}
.erroneous-run #nprogress .msgBG {
  background-color: white;
  opacity: 0.5;
}
.erroneous-run #nprogress .msgRF {
  right: 4px;
}
.erroneous-run #nprogress .spinner {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
}
.erroneous-run #nprogress .spinner .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #C04;
  border-left-color: #C04;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
  transition: border-color 2s ease;
}
.erroneous-run #nprogress blockquote {
  border-color: #C04;
}
